<% @players.each do |player| %>
  <section class="player">
    <div class="player-data">
      <img class="player-image">
        <%= image_tag player.picture %>
      <div class="player-header">
        <h2><%= player.name %></h2>
        <div class="player-details">
          <p class="playerNum"><%= player.number %></p>
          &#x25CF;
          <p class="playerPos"><%= player.position %></p>
        </div>
        <div class="player-status">
          <p class="status">Status: <%= player.status %></p>
        </div>
      </div>
    </div>
  </section>
<% end %>