<!DOCTYPE html>
<html>
  <head>
    <title>Colts Roster</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <div class="logoTitle">
        <%= link_to image_tag("colts-logo.png"), root_path %>
        <h1>Indianapolis Colts</h1>
      </div>
    </header>

    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
